<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@700;900&display=swap" rel="stylesheet">
<div>
    <div style="float: left; margin: 10%">

        <h1 style="font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 45px;">Промышленное<br>оборудование</h1>

        <h3 style="font-family: 'Roboto', sans-serif; font-weight: 700; margin-bottom: 0;">Сейчас вы прочтете повесть о Греке</h3>
        <p style="font-family: 'Nunito Sans', sans-serif;">
            Ехал грека через реку, видит Грека в реке - ну<br>
            опять эти ну как их там, ну эти - раки.<br>
            Сунул Грека руку в раки реку сунул руки<br>
            в попу.
        </p>

    </div>
</div>

<div>
    <div style="float: left; margin: 10%">

        <h1 style="font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 45px;">Промышленное<br>оборудование</h1>

        <h3 style="font-family: 'Roboto', sans-serif; font-weight: 700; margin-bottom: 0;">Сейчас вы прочтете повесть о Греке</h3>
        <p style="">
            Ехал грека через реку, видит Грека в реке - ну<br>
            опять эти ну как их там, ну эти - раки.<br>
            Сунул Грека руку в раки реку сунул руки<br>
            в попу.
        </p>

    </div>
</div>