<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Каталог</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://bootstrap-4.ru/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/products.css">
  <link rel="stylesheet" href="/fonts.css">
</head>

<body style="background-color:#ebe7d4;">
  <div class="container">

    <div class="container">
      <nav class="navbar navbar-expand-lg bg-transparent" style="padding: 1% 0%;">
        <div class="container-fluid p-0">
          <a class="navbar-brand m-0" href="/"><b>[SPELS]</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-start mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="padding: 20px 60px 20px 3px;">ГЛАВНАЯ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products"
                  style="padding: 20px 60px 20px 3px;">КАТАЛОГ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/services"
                  style="padding: 20px 60px 20px 3px;">УСЛУГИ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact"
                  style="padding: 20px 60px 20px 3px;">КОНТАКТЫ</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container" id="container2">
      <div class="row row-cols-1 row-cols-md-3 g-4;">
        <div class="col">
          <div class="card">
            <img src="partners/rexnord.JPEG" loading="lazy" class="card-img-top" alt="Изображение">
            <div class="card-body">
              <h5 class="card-title">Rexnord</h5>
              <p class="card-text">Компания Rexnord является лидерером производства промышленных цепей. Цепи изготавливаются согласно спецификациям, соответствующим высшим отраслевым стандартам. Поставка со склада в Германии.</p>
            </div>
            <div class="card-footer">
              <a href="/Шифрование.pdf" class="btn btn-primary" target="_blank">Открыть</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="partners/technofiliere.jpg" loading="lazy" class="card-img-top" alt="Изображение">
            <div class="card-body">
              <h5 class="card-title">Technofiliere</h5>
              <p class="card-text">Компания Technofiliere занимается производством экструзионных матриц и оборудования для тяжелой глиняной и керамической промышленности. Поставка со склада в Италии.</p>
            </div>
            <div class="card-footer">
              <a href="/Шифрование.pdf" class="btn btn-primary" target="_blank">Открыть</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="partners/laterimpianti.JPEG" loading="lazy" class="card-img-top" alt="Изображение">
            <div class="card-body">
              <h5 class="card-title">Laterimpianti</h5>
              <p class="card-text">Компания Laterimpianti занимается производством многоковшовых экскаваторов, запасных частей и комплектующих. Поставка со склада производителя в Италии.</p>
            </div>
            <div class="card-footer">
              <a href="/Шифрование.pdf" class="btn btn-primary" target="_blank">Открыть</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="partners/iron_oxide.JPEG" loading="lazy" class="card-img-top" alt="Изображение">
            <div class="card-body">
              <h5 class="card-title">Оксид железа</h5>
              <p class="card-text">Оксид железа Fe2O3 марки SKM-ARP 1 компании EG (Корея, Республика) представляет собой синтетический оксид железа и используется в качестве пигментов для окраски глины при производстве кирпича.</p>
            </div>
            <div class="card-footer">
              <a href="/Шифрование.pdf" class="btn btn-primary" target="_blank">Открыть</a>
            </div>
          </div>
        </div>




      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    </div>
  </div>
  
</body>

</html>