  a.nav-link.active {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
  }
  
  p, a.btn.btn-primary {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
  }

  h1 {
    font-size: 325%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900; 
    line-height: 1;
  }

  @media screen and (max-width: 700px) {
    h1 {
      font-size: 275%;
    }
  }

  h2 {
    font-size: 200%;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
  }

  h3 {
    font-size: 170%;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
  }

  h4 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
  }

  h5 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
  }

  h6 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
  }

  img {
    background-color: #e7e2cb;
  }

  .col-md-3#info a {
    text-decoration: none;
  }
  