.btn.btn-primary {
    color: #ebe7d4;
    background-color:black;
    --bs-btn-border-color: unset;
    --bs-btn-border-radius: unset;
    --bs-btn-active-bg: rgb(61, 61, 61);
    --bs-btn-active-color: #ebe7d4;
    /* Другие стили */
  }

.col {
    padding-top: 10px;
}
  
.card {
    --bs-card-border-color: unset;
    --bs-card-border-radius: unset;
    height: 100%; /* Задаем фиксированную высоту для элемента .card */
    display: flex;
    flex-direction: column;
}

.card-img-top {
    border-radius: unset;
}

.card-body {
  background-color: #ebe7d4;
  padding: unset;
  padding-top: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-footer {
  display: flex; /* Выравниваем кнопки по горизонтали */
  align-items: center; /* Выравниваем кнопки по вертикали */
  padding: unset;
  padding-top: 10px;
  background-color: #ebe7d4;
  justify-content: flex-start;
}

.card-footer:last-child {
  border-radius: unset;
}

#container2 {

  margin-bottom: 30px;
}

.col {
  
}

img {

  background-color: #ebe7d4;
}


.my-5 {
  padding: 0px 12px;
  margin-bottom: 0!important;
}