.btn.btn-primary {
    color: #ebe7d4;
    background-color:black;
    font-weight: bolder;
    --bs-btn-border-color: unset;
    --bs-btn-border-radius: unset;
    /* Другие стили */
  }

.col {
    padding-top: 10px;
}
  
.card {
    --bs-card-border-color: unset;
    --bs-card-border-radius: unset; 
}

.card-img-top {
    border-radius: unset;
}

.card-body {
  background-color: #ebe7d4;
  padding: unset;
  padding-top: 5px;
}

