body {
  visibility: hidden;
}

#container2 {
    padding: 0px 0px;
    margin-bottom: 30px;
  }

h4 {
  margin-top: 3rem;
}

.d-flex {
  display: unset !important;
}

.card-footer {
  background-color: unset;
  border-top: 0;
}

.my-5 {
  padding: 0px 24px;
  margin-bottom: 0!important;
}

.card:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* Тень при наведении */
  transform: scale(1.05); /* Увеличение при наведении */
  z-index: 1;
}

.col-md-6 {
  opacity: 0;
}